.body{
    margin: 0px;
    padding: 0px;
    width: 100%;
    overflow:hidden;
    font-family: Poppins, sans-serif ;
}


#navbar{
    margin: 0px;
    background-color: rgb(255, 255, 255);
    display: flex;
    gap:5rem;
    padding: 0px;
    box-shadow: 0px 0px 0.5px 0px;
}
#navbar img{
   width: 100%;
    padding-left: 180px;
    
}
#navbar-types{
    display: flex;
    gap:5rem;
    padding: 20px;
}
#navbar-types li{
    list-style-type: none;
}
#navbar-types div p{
    font-size: 20px;
  
  }
#navbar-types li:hover{
    color:#6f42c1;;
    cursor: pointer;
} 
.dropdown :hover{
    color:#6f42c1;
}
#navbar-types button{
    color: white;
    background-color: #6f42c1;
}
.btn1 {
    position: relative;
}
.btn1 {
    display: inline-block;
     /* border-image: linear-gradient(#4e3bbf, #a928d8) 30;  */
    border-width: 2px;
    border-style: solid;
    padding: 8px 25px;
    border-radius: 8px;
    color: #000c60 !important;
    background-color: white;
}
a {
    color: #007bff;
    text-decoration: none;
    background-color: transparent;
}
.btn {
    background: linear-gradient(90deg, #4e3bbf, #a928d8);
    display: inline-block;
    color: #fff;
    border: none;
    padding: 10px 24px !important;
    border-radius: 8px;
}
#services-container{
    display: flex;
    padding-left: 12rem;
    padding-right: 12rem;
    background-color: #ebebf5;
    gap: 1rem;

}
.services-content{
    padding-top: 7rem;
}
.services-content h1{
    padding-bottom: 2rem;
    background: linear-gradient(90deg, #8D65E9 0%, #5391E4 48.1%, #6BCD94 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.services-content p{
    padding-bottom: 2rem;
    font-size: 19px;
}
#services-services{
    text-align: center;
    padding-top: 4.5rem;
}
#services-services h1{
    font-size: 3rem;
    background: linear-gradient(90deg, #8D65E9 0%, #5391E4 48.1%, #6BCD94 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.services-structure-content h5{
    width: 50%;
    font-weight: 400;
    padding: 8px;
    text-align: center;
    border-radius: 22px;
    background: linear-gradient(90deg, #ECEAF8 0%, #E9C4E6 28.28%, #D2CDE2 63.13%, #EAEDFB 100%);
    
}
#services-enhance{
    display: flex;
    padding-left: 10rem;
    padding-right: 10rem;
    padding-top: 50px;
    gap: 5rem;


}
.services-enhance-content{
    padding-top: 3rem;
    justify-content: start;
}
.services-enhance-content h5{
    font-size: 1.5rem;
    width: 80%;
    font-weight: 400;
    padding: 8px;
    text-align: center;
    border-radius: 22px;
    background: linear-gradient(90deg, #ECEAF8 0%, #E9C4E6 28.28%, #D2CDE2 63.13%, #EAEDFB 100%);
    
}
.services-enhance-content p{
    font-size: 22px;
    font-weight: 450;
    color: #13214f;
    line-height: 2.5rem;
}
#services-structure{
    display: flex;
    padding-left: 10rem;
    padding-right: 10rem;
    padding-top: 6rem;
    gap: 3rem;
}
.services-structure-content{
    padding-top: 3rem;
    justify-content: start;
}
.services-structure-content h5{
    font-size: 1.5rem;
    
}
.services-structure-content p{
    font-size: 22px;
    font-weight: 450;
    color: #13214f;
    line-height: 2.5rem;
}
#services-performance{
    display: flex;
    padding-left: 10rem;
    padding-right: 10rem;
    padding-top: 6rem;
    gap: 5rem;
}
.services-performance-content{
    padding-top: 3rem;
    justify-content: start;
}
.services-performance-content h5{
    font-size: 1.5rem;
    width: 80%;
    font-weight: 400;
    padding: 8px;
    text-align: center;
    border-radius: 22px;
    background: linear-gradient(90deg, #ECEAF8 0%, #E9C4E6 28.28%, #D2CDE2 63.13%, #EAEDFB 100%);
    
}
.services-performance-content p{
    font-size: 22px;
    font-weight: 450;
    color: #13214f;
    line-height: 2.5rem;
}
#accordionPanelsStayOpenExample{
    
    display: block;
    width: 100%;
    padding-left: 17rem;
    padding-right: 17rem;
}
#accordian-btn :hover{
   color: #000c60;
}
.accordion-button:focus,
#accordion-button:not(.collapsed) {
   
    background-color: transparent;
    box-shadow: none;
}

#connect{
    margin-top: 50px;
}
#lets-connect-container {
   display: flex;
   margin-left: 30px;
   gap: 1rem;
   
   
}

.accordion-item{
    background-color: none;
}

#lets-connect-container button{
    font-size: 20px;
    font-weight: 200;
    border: none;
    border-radius: 8px;
    padding: 10px;
    background-color: #6f42c1;
    color: white;
}
#lets-connect{
    margin: 150px;
   
    
} 
#services-contianer{
    display: flex;
    padding-top: 80px;
    padding: 80px;
}
#services ul{
    display: flex;
    
}
#services h4{
    color: #000c60;
}

#services li{
      list-style-type: none;
      line-height: 2.8rem;
      font-weight: 400;
}
#services li:hover {
    cursor: pointer;
    color: #a928d8;
}
.dail{
    position:absolute;
    top:224rem;
    right: 0;
    
}
.modal-header{
    background-color:#952cd4;
    color: #ffff;
 }
.modal-footer{
    text-align: center;
    align-items: center;
}

#accordion-container{
    padding-top: 200px;
}
